body{
   margin: 0;
   background-image: url(./img/start/Background.png);
   background-size: cover;
   font-family: 'Neucha', cursive;
}
.frame{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.d-none{
    display: none;
}

canvas{
    background-color: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(163, 160, 160);
}

.game-container{
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.start-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}
d-key{
    
}

.button-description{
   margin-top: 25px;
   display: flex; 
}

.start-game{
    background-color: rgb(209, 159, 21);
    font-family: 'Neucha', cursive;
    font-size: 24px;
    padding: 8px;
    border-radius: 8px;;
    cursor: pointer;
}
.button-text{
    padding: 8px;
    font-size:larger;
}


.start-screen-img{
    position: absolute;
    height: 480px;
    width: 720px;
    border-radius: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(163, 160, 160);
    
}
